body{
	background-color:green;
	text-align: center;
	color: #FF4500	;

}

h1{
	font-family: Arial, sans-serif;
	color: #0248D4;
	font-size: 24px;
}
h2{
	font-family: Arial, sans-serif;
	font-size: 20px;
}
#slogan{
	color:white;
	font-size: 25px;
	text-decoration: underline;
}
#email{
	font-size: 20px;
}